.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-layout-header {
  padding: 0;
  background-color: #fff;
}

.Menu {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NamePage{
  text-align: center;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.nameTitle {
  text-align: left;
  margin-top: 10px;
  font-size: 32px;
}

.placeholderPortrait {
  width: 150px;
  height: 150px;
  background-color: #444;
  float: right;
  margin-left: 10px;
}

.sectionTitle {
  text-align: left;
  margin-top: 10px;
  font-size: 24px;
}

.placeholderImg {
  width: 150px;
  height: 150px;
  background-color: #444;
  float: left;
  margin-right: 10px;
}

.projectTitle {
  text-align: left;
  margin-top: 28px;
  font-size: 24px;
}

.projectPlaceholderImg {
  width: 100px;
  height: 100px;
  background-color: #444;
  float: left;
  margin-right: 10px;
}